<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank-DS | Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <asset:stylesheet rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"/>
    <asset:stylesheet rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <asset:stylesheet rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.css"/>
    <asset:stylesheet rel="stylesheet" href="dist/css/adminlte.css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>back</b>Office</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>
            <g:form name="check_bo" url="[controler:'user',action:'register']" method="post">
                <input name="version" value="1" type="hidden">

                <div class="input-group mb-3">
                    <input name="clientLastName" type="text" class="form-control" placeholder="Last name">

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input name="clientFirstName" type="text" class="form-control" placeholder="Full name">

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input name="userEmail" type="email" class="form-control" placeholder="Email">

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input name="clientPassWord" type="password" class="form-control" placeholder="Password">

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <button type="submit" name="check" value="bo"
                                class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
            </g:form>
            <hr/>
            <g:link action="loginBo" controller="user" class="text-center">I already have a membership</g:link>
        </div>
    </div>
</div>
<asset:javascript src="plugins/jquery/jquery.min.js"/>
<asset:javascript src="plugins/bootstrap/js/bootstrap.bundle.min.js"/>
<asset:javascript src="dist/js/adminlte.min.js"/>
</body>
</html>