﻿@model dynamic

<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        Copyright &copy; 2019
    </div>
    <div class="container">
        &copy; 2019 - FO <a asp-area="" asp-controller="Front" asp-action="Privacy">Privacy</a>
    </div>
</footer>