﻿@using System.Globalization
@model Front.Models.Infos.ClientInfo
@{
    if(Model == null)
    {
        return;
    }
    CultureInfo.CurrentCulture = CultureInfo.GetCultureInfo(Model.Client.Currency);
}

<div class="invoice card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="/Content/dist/img/user4-128x128.jpg" alt="User profile picture">
        </div>
        <h3 class="profile-username text-center">@Model.Client.FirstName @Model.Client.LastName</h3>
        <p class="text-muted text-center">@Model.Client.UserEmail</p>
        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Reste &agrave; rembourser</b>
                <p><a>@Model.TotalLeftRembousement.ToString("C")</a></p>
            </li>
            <li class="list-group-item">
                <b>Total prets</b> 
                <p><a>@Model.TotalPret.ToString("C")</a></p>
            </li>
            <li class="list-group-item">
                <b>Total remboursement</b>
                <p><a>@Model.TotalRemboursement.ToString("C")</a></p>
            </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block">
            <b>+ Detailes</b>
        </a>
    </div>
</div>

