﻿@model Front.Models.Infos.ConfigurationInfo
@{
    var date = $"{DateTime.Now:yyyy MMMM dd}";
}
<div class="invoice p-3 mb-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>
                <i class="fas fa-globe"></i> Pret Configuration.
            </h4>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-4">
        <div class="col-3"></div>
        <div class="col-6 card p-2 border-0">
            <form method="post" asp-action="NewConfiguration" asp-controller="Front">
                <h4>
                    <small class="float-right" style="font-size: 12px;">@date</small>
                </h4>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Values</label>
                    @Html.TextBoxFor(model => model.ConfigValues, new {@class = "form-control", type = "number", placeholder = "Adress email"})
                </div>
                <div class="form-group">
                    <label>Duration Min.</label>
                    @Html.TextBoxFor(model => model.DurationMin, new {@class = "form-control", type = "number", placeholder = "Password"})
                </div>
                <div class="form-group">
                    <label>Duration Max.</label>
                    @Html.TextBoxFor(model => model.DurationMax, new {@class = "form-control", type = "number", placeholder = "Password"})
                </div>
                <div class="form-group">
                    <label>Duration</label>
                    <select name="@(nameof(Model.DurationType))" class="form-control custom-select">
                        <option selected disabled>Duration in</option>
                        <option value="Days">Days</option>
                        <option value="Moths">Moths</option>
                        <option value="Years">Years</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>