﻿@using System.Globalization
@using Front.Models.Infos
@model Front.Models.IndexViewModel
@{
    ViewData["Title"] = "Home page";
    var date = $"{DateTime.Now:yyyy MMMM dd}";
    var data = Model.ClientInfo;
    var df = new DateTimeFormatInfo();
    CultureInfo.CurrentCulture = CultureInfo.GetCultureInfo(Model.ClientInfo.Client.Currency);
}
<div class="invoice mb-4">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#timeline" data-toggle="tab">Remboursements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#activity" data-toggle="tab">Demande pret</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="timeline">
                <div class="box box-solid">
                    <div class="box-header">
                        <h5>Statistiques des remboursements</h5>
                        <form role="form">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="devis">Année</label>
                                        <select onchange="onChangeYear(this.value)" required="" class="form-control" id="inputSkills" name="year">
                                            @for (var i = 2020; i >= 2000; i--) {
                                                var selected = i == Model.Year;
                                                <option selected="@selected" value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Mois</th>
                                <th>Total prets</th>
                                <th>Total remboursement</th>
                                <th>Reste &agrave; rembourser</th>
                                <th>Progression</th>
                            </tr>
                            @foreach (var state in Model.Statistiques) {
                                <tr>
                                    @if (state.TotalValues == 0) {
                                        <td>
                                            @state.Month @Model.Year
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    } else {
                                        <td>
                                            @state.Month @Model.Year
                                        </td>
                                        <td>@state.TotalValues.ToString("C")</td>
                                        <td>@state.Valeurs.ToString("C")</td>
                                        <td>@state.TotalLefts.ToString("C")</td>
                                        <td>
                                            <small class="text-success mr-1">
                                                @state.Progression.ToString("P")
                                            </small>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="activity">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <form method="post" asp-action="TraiterPreter" asp-controller="Front">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@data.Client.Id" name="ClientID" class="form-control">
                            <div class="card">
                                @if (!string.IsNullOrEmpty(data.ErrorMessage)) {
                                    <div class="card-header">
                                        <h3 class="card-title" style="color: red;">@data.ErrorMessage</h3>
                                    </div>
                                }
                                <div class="card-body">
                                    <h4>
                                        <small class="float-right" style="font-size: 12px;">@date</small>
                                    </h4>
                                    <div class="form-group">
                                        <label>Choisir un compte*</label>
                                        <select name="CompteID" class="form-control custom-select">
                                            <option selected disabled>Mes comptes (@data.Comptes.Count)</option>
                                            @foreach (var compte in data.Comptes) {
                                                <option value="@compte.Id">@compte.Number</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Duration*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="@(nameof(PretInfo.Durations))" class="form-control float-right" id="duration-id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputClientCompany">Valeur &agrave; preter*</label>
                                        <input type="number" name="Values" value="0" id="inputClientCompany" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Description du pret*</label>
                                        <textarea name="Description" required="required" id="inputDescription" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn-sm btn btn-danger float-right">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onChangeYear(value){
        window.location="/Front/Index?year="+value;
    }
</script>