﻿@{
    ViewBag.Title = "Home Page";
}
@model BO.ViewModels.ClientViewModel

<div class="box box-solid">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h3 class="card-title">Liste client</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr style="background-color: rgba(222, 226, 230, 0.51);">
                            <th>Profile</th>
                            <th>pr&eacute;nom</th>
                            <th>Nom</th>
                            <th>Date debut</th>
                            <th>Devise</th>
                            <th>Solde</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var client in Model.Clients) {
                            <tr>
                                <td>
                                    <a href="@Url.Action("UserProfile", "Back", new {guid = client.Id})" class="nav-link">
                                        <i class="nav-icon fa fa-eye"></i>
                                    </a>
                                </td>
                                <td>@client.LastName</td>
                                <td>@client.FirstName</td>
                                <td>@client.StartDate</td>
                                <td>@client.Currency|@client.Currency</td>
                                <td>20015</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>