﻿@using BO.Extensions
@using BO.Models
@using BO.Utils
@model BO.ViewModels.IndexViewModel
@{
    var newprets = Model.NewPrets ?? new List<Pret>();
    var historiques = Model.Remboursements ?? new List<RembsDetail>();
    var configs = Model.PretConfigs ?? new List<PretConfig>();
}
<style>
    .pret-config {
        border: 1px solid #ecf0f5 !important;
        box-shadow: 0 0 0 rgba(0,0,0,0.1) !important;
    }
</style>
<div class="row">
<div class="col-md-12">
<div class="nav-tabs-custom box box-solid">
<ul class="nav nav-tabs">
    <li id="li-activity">
        <a href="#activity" data-toggle="tab">Des nouveaux prets</a>
    </li>
    <li id="li-timeline">
        <a href="#timeline" data-toggle="tab">Historiques remboursements</a>
    </li>
    <li id="li-settings">
        <a href="#settings" data-toggle="tab">Configurations pret</a>
    </li>
</ul>
<div class="tab-content">
<div class="tab-pane" id="activity">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid pret-config">
                <div class="box-header">
                    <h4>Recherche</h4>
                </div>
                <div class="box-body">
                    <form action="@Url.Action("Index", "Back")" method="get">
                        <input type="hidden" name="Active" value="activity"/>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="clientName">Nom client</label>
                                    <input type="text" name="ClientName" class="form-control" id="clientName" placeholder="Entrer le nom client">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="comptenum">N* Compte</label>
                                    <input type="text" name="NumCompte" class="form-control" id="comptenum" placeholder="Entrer le num compte">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="durationid">Durations</label>
                                    <input type="number" name="Duration" class="form-control" id="durationid" placeholder="Entre un durre">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="datevalueid">Date</label>
                                    <input type="date" name="Date" class="form-control" id="datevalueid" placeholder="Entrer une date">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Filtrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des nouveaux prets</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr style="background-color: rgba(222, 226, 230, 0.51);">
                            <th>Details</th>
                            <th>Client</th>
                            <th>N* Compte</th>
                            <th>Dur&eacute;e</th>
                            <th>Valeurs</th>
                            <th>Debut - Fin</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var pret in newprets) {
                            var valeurs = $"{pret.Valeurs:C}";
                            var date = $"{pret.Date:d}";
                            <tr>
                                <td>
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-eye"></i>
                                    </a>
                                </td>
                                <td>@pret.Client.LastName @pret.Client.FirstName</td>
                                <td>@pret.Compte.Number</td>
                                <td>@pret.Duration @pret.PretConfig.DurationType</td>
                                <td>@valeurs</td>
                                <td>@pret.StartDate.ToString("d") &agrave; @pret.EndDate.ToString("d")</td>
                                <td>@Html.Raw(Etats.Status(pret.Etat))</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    @Html.Paging(Model.Page, Model.Size, Model.CountPret)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="timeline">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <h3 class="card-title">Historiques des remboursements</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr style="background-color: rgba(222, 226, 230, 0.51);">
                        <th>Profile</th>
                        <th>Client</th>
                        <th>Valeur rembours&eacute;</th>
                        <th>Total &agrave; rembours&eacute;</th>
                        <th>Date Fin</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var histo in historiques) {
                        var dateFin = $"{histo.Pret.EndDate:d}";
                        var valeurs = $"{histo.Valeurs:C}";
                        var totalValeurs = $"{histo.TotalValues:C}";
                        <tr>
                            <td>
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-eye"></i>
                                </a>
                            </td>
                            <td>@histo.Client.FirstName @histo.Client.LastName</td>
                            <td>@valeurs</td>
                            <td>@totalValeurs</td>
                            <td>@dateFin</td>
                            <td>@Html.Raw(Etats.Status(histo.Etat))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                @Html.Paging(Model.Page, Model.Size, Model.CountRembs)
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="settings">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="box box-solid pret-config">
                <div class="box-header">
                    <h4>Configurations de pret</h4>
                </div>
                <div class="box-body">
                    <form action="@Url.Action("Config", "Back")" method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="nameid" class="col-sm-3 control-label">Valeurs (%)</label>
                            <div class="col-sm-9">
                                <input type="number" name="ConfigValues" required class="form-control" id="nameid" placeholder="Valeurs">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Duration min.</label>
                            <div class="col-sm-9">
                                <input type="number" name="DurationMin" required class="form-control" id="inputEmail" placeholder="Duration min.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience" class="col-sm-3 control-label">Duration max</label>
                            <div class="col-sm-9">
                                <input type="number" name="DurationMax" required class="form-control" id="inputExperience" placeholder="Duration max."/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-3 control-label">Duration Type</label>
                            <div class="col-sm-9">
                                <select required class="form-control" id="inputSkills" name="DurationType">
                                    <option value="Days">Days</option>
                                    <option value="Months">Months</option>
                                    <option value="Years">Years</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit" class="btn btn-danger">Save</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr style="background-color: rgba(222, 226, 230, 0.51);">
                            <th>Action</th>
                            <th>Valeurs (%)</th>
                            <th>Duration min.</th>
                            <th>Duration max.</th>
                            <th>Duration Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var config in configs) {
                            var valeus = $"{config.ConfigValues:P}";
                            <tr>
                                <td>
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>@valeus</td>
                                <td>@config.DurationMin</td>
                                <td>@config.DurationMax</td>
                                <td>@config.DurationType</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</div>
</div>
</div>
</div>