﻿@{
    ViewBag.Title = "Home Page";
    var prets = Model.Prets.Select(value => $"{value}");
    var rembs = Model.Remboursements.Select(value => $"{value}");
    var inters = Model.Interts.Select(value => $"{value}");
}
@model BO.ViewModels.StatesViewModel

<div class="box box-solid table-bordered">
    <div class="box-header">
        <h4>Statistiques des donn&eacute;e</h4>
        <form role="form">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="devis">Ann&eacute;e</label>
                        <select onchange="changeYear(this.value)" required class="form-control" id="inputSkills" name="year">
                            @for (var year = 2020; year >= 2000; year--) {
                                var selected = year == (int.TryParse(Request["year"], out var y) ? y : 2020) ? "selected" : string.Empty;
                                <option @selected value="@year">@year</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="box box-solid table-bordered">
    <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Donn&eacute;es statistiques</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <canvas id="canvas"></canvas>
    </div>
</div>

<script src="~/Content/js/Chart.min.js"></script>
<script src="~/Content/js/utils.js"></script>
<script>
	let changeYear = function(value) {
		window.location = '@Url.Action("Sates", "Back")?year='+value;
	};

	let config = {
		type: 'line',
		data: {
			labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
			datasets: [{
				label: 'Prets',
				backgroundColor: window.chartColors.red,
				borderColor: window.chartColors.red,
				fill: false,
				data: [@string.Join(", ", prets)],
			},
			{
				label: 'Remboursements',
				backgroundColor: window.chartColors.blue,
				borderColor: window.chartColors.blue,
				fill: false,
				data: [@string.Join(", ", rembs)],
			},
			{
				label: 'Interets',
				backgroundColor: window.chartColors.green,
				borderColor: window.chartColors.green,
				fill: false,
				data: [@string.Join(", ", inters)],
			}]
		},
		options: {
			responsive: true,
			title: {
				display: true,
				text: 'Statistiques interets, remboursement & prets'
			},
			scales: {
				xAxes: [{
					display: true,
				}],
				yAxes: [{
					display: true,
				}]
			}
		}
	};

	window.onload = function() {
		const ctx = document.getElementById('canvas').getContext('2d');
		window.myLine = new Chart(ctx, config);
	};
</script>