﻿@model dynamic

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Olivier Jean FANOMEZANTSOA
    </div>
    <strong>Copyright &copy; 2020 <a target="_blank" rel="noreferrer noopener" href="https://unice.fr">MBDS</a>.</strong> All rights reserved.
</footer>