<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>${breadcrumb?.title}</h1>
        </div>

        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">${breadcrumb?.page}</a></li>
                <li class="breadcrumb-item active">${breadcrumb?.title}</li>
            </ol>
        </div>
    </div>
</div>