﻿@using BO.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin BOA | Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/css/skins/_all-skins.css">
    <script src="~/Content/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        @Html.HeaderPage()
    </header>
    <aside class="main-sidebar">
        @Html.MenusPage()
    </aside>

    <div class="content-wrapper">
        @Html.Breadcrumb()
        <section class="content container-fluid">
            @RenderBody()
        </section>
    </div>
    @Html.FooterPage()
</div>

<script src="~/Content/bootstrap.min.js"></script>
<script src="~/Content/js/adminlte.min.js"></script>
@{
    var active = Request?["active"];
    if (active != null) {
        <script>
            $("#@active").addClass("active");
            $("#li-@active").addClass("active");
            $("#menu-@active").addClass("active");
            $(".menu-@active").addClass("active");
        </script>
    } else {
        <script>
            $("#activity").addClass("active");
            $("#li-activity").addClass("active");
            $("#menu-activity").addClass("active");
        </script>
    }
}
</body>
</html>