﻿@using Front
@using Front.Models.Infos
@using Front.Services
@inject IClientService _clientService
@{
    var clientInfo = ViewData[Names.ClientSessionInfo];
    var breadcrumb = ViewData[Names.BreadcrumbInfo] as BreadcrumbInfo;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>@ViewData["Title"] - FO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link href="~/content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/content/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/content/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <link href="~/content/dist/css/adminlte.css" rel="stylesheet">
    <style>
        .card {
            box-shadow:none;
            border: 1px solid #f4f6f9;
        }
        .nav.active{
        background: #f4f6f9 !important;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <partial name="Pages/Header/_HeaderNavBar"/>
    </nav>
    <div class="content-wrapper">
        <div class="content-header">
            <partial name="Pages/Header/_Breadcrumbs" model="@breadcrumb"/>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <partial name="Pages/_Profile" model="@clientInfo"/>
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <partial name="Pages/Footer/_FooterContent"/>
</div>

<script src="~/content/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/content/dist/js/adminlte.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/select2/js/select2.full.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/moment/moment.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/inputmask/min/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
<script src="~/content/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" asp-append-version="true"></script>
<script src="~/content/plugins/bootstrap-switch/js/bootstrap-switch.min.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)

<script>
  $(function () {
    //Initialize Select2 Elements   
    $('.select2').select2();

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    });

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' });
    //Money Euro
    $('[data-mask]').inputmask();

    //Date range picker
    $('#duration-id').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    });
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
    );

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    });
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox();

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });
  })
</script>

</body>
</html>