﻿@using BO.Models
@model object
@{
    var user = new Client();
    if (Session?["client"] is Client client) {
        user = client;
    }
}

<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="@user.FirstName @user.LastName">
        </div>
        <div class="pull-left info">
            <p>@user.FirstName @user.LastName</p>
            <a href="#">Admin</a>
        </div>
    </div>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENUS</li>
        <li id="menu-activity">
            <a href="@Url.Action("Index", "Back", new {active = "activity"})">
                <i class="fa fa-ticket"></i> <span>Prets</span>
            </a>
        </li>
        <li id="menu-timeline">
            <a href="@Url.Action("Index", "Back", new {active = "timeline"})">
                <i class="fa fa-envelope"></i> <span>Remboursements</span>
            </a>
        </li>
        <li id="menu-settings">
            <a href="@Url.Action("Index", "Back", new {active = "settings"})">
                <i class="fa fa-gear"></i> <span>Configuration prets</span>
            </a>
        </li>
        <li id="menu-states">
            <a href="@Url.Action("Sates", "Back", new {active = "states"})">
                <i class="fa fa-pie-chart"></i> <span>Statistiques</span>
            </a>
        </li>
    </ul>
</section>