﻿@model BO.ViewModels.LoginViewModel

<div class="login-box">
    <style>
        .login-box-body{
            border-radius: 4px;
            border: 1px solid silver;
        }
    </style>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <p class="login-box-msg" style="color: red">@ViewBag.Error</p>
        <form action="@Url.Action("ValidationLogin", "Admin")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.Username, new {@class = "form-control", type = "email", placeholder = "Adress email"})
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.Password, new {@class = "form-control", type = "password", placeholder = "Password"})
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
        <a href="#">I forgot my password</a><br>
        @*<a href="@Url.Action("Register", "User")" class="text-center">Register a new membership</a>*@
    </div>
</div>