﻿@model BO.Models.Client

<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>Admin </b>BOA</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>
        <form action="@Url.Action("ValidationRegister", "Admin")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", placeholder = "First name"})

                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", placeholder = "Last name"})

                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.UserEmail, new {@class = "form-control", placeholder = "Email", type = "email"})
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.PassWord, new {@class = "form-control", placeholder = "Password", type = "password"})
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <label>
                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                    </label>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
            </div>
        </form>
        <a href="@Url.Action("Login", "Admin")" class="text-center">I already have a membership</a>
    </div>
</div>
