﻿@model Front.Models.Infos.BreadcrumbInfo
<div class="container no-border">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h3 class="m-0 text-dark">@Model?.Title <small>@Model?.SubTitle</small></h3>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                @foreach (var (key, value) in Model?.Chemins ?? new Dictionary<string, string>())
                {
                    <li class="breadcrumb-item">
                        <a href="@value">@key</a>
                        <i class="fa fa-arrow-right"></i>
                    </li>
                }
                <li class="breadcrumb-item active">@Model?.Title</li>
            </ol>
        </div>
    </div>
</div>