﻿@model dynamic
<div class="container">
    <a class="navbar-brand" href="/">
        <h5 class="brand-text font-weight-light">PRET Banquaire</h5>
    </a>
    <button aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler order-1" data-target="#navbarCollapse" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</div>