﻿@model dynamic

<section class="content-header">
    <h1>
        Prets & remboursements
        <small>comptes bancaires</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-user"></i> Comptes</a>
        </li>
        <li class="active">Prets & remboursements</li>
    </ol>
</section>