﻿@model BO.ViewModels.PagingViewModel

@{
    if (Model.ItemCount <= Model.PageSize) {
        return;
    }
    var paging = Model.ItemCount / Model.PageSize;
}
<ul class="pagination pagination-sm m-0 float-right">
    @for (var page = 1; page < paging && page <= 15; page++) {
        var classe = Model.PageActive == page ? "page-item active" : "page-item";
        if (page == 14) {
            <li>
                <a class="page-link" href="@Url.Action("Index", "Back", new {Page = page, Size = Model.PageSize})">---</a>
            </li>
        } else if (page < 15) {
            <li class="@classe">
                <a class="page-link" href="@Url.Action("Index", "Back", new {Page = page, Size = Model.PageSize})">@page</a>
            </li> 
        } else {
            <li class="@classe">
                <a class="page-link" href="@Url.Action("Index", "Back", new {Page = paging, Size = Model.PageSize})">@paging</a>
            </li>
        }
    }
</ul>