﻿@model Front.Models.Infos.LoginInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/plugins/icheck-bootstrap/icheck-bootstrap.css">
    <link rel="stylesheet" href="/Content/dist/css/adminlte.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Admin</b>LTE</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <p class="login-box-msg" style="color: red;">@ViewBag.Error</p>
            <form asp-action="ValidationLogin" asp-controller="Client" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group mb-3">
                     @Html.TextBoxFor(model=>model.UserEmail, new {@class="form-control", type="email", placeholder="Adress email"})
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model=>model.PassWord, new {@class="form-control", type="password", placeholder="Password"})
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
            <hr/>
            <p class="mb-0">
                <a href="@Url.Action("Register", "Client")" class="text-center">Register a new membership</a>
            </p>
        </div>
    </div>
</div>
<script src="/Content/plugins/jquery/jquery.min.js"></script>
<script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Content/dist/js/adminlte.min.js"></script>
</body>
</html>